{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Plan | Smart Campus AI</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header>
        <h1>Personalized Study Plan</h1>
    </header>

    <div class="card">
        <ul>
            <li>📌 Data Structures – High Priority</li>
            <li>📌 Operating Systems – Medium</li>
            <li>📌 DBMS – Low</li>
        </ul>
    </div>

</body>
</html>
{% endblock %}
